<% content_for :title, 'Bienvenida' %>
<div>
  <h1 class="title">Tec Events</h1>
  <h4>Administración de eventos</h4>
  <p>Bienvenido a Tec Events, la mejor forma de administrar tu evento escolar.</p>
  <p>Accede al sitio administrativo en:</p>
  <%= link_to 'Administrar eventos', admin_events_path %>
</div>
